
    <div class="panel">
        <div class="panel-body">
        <table id="teamTable"
               class="table table-hover">
            <thead>
                <tr>
                    <th data-field="nombre"
                        data-valign="middle">Nombre Equipo</th>
                    <th data-field="action"
                        data-align="center"
                        class="col-md-2"
                        data-formatter="teamEventFormatter"
                        data-events="actionEvents">Acciones</th>
                </tr>
            </thead>
        </table>
        </div>
    </div>


    <div class="panel" id="new-team">
      <!--  <div class="panel-heading">
            Nuevo Equipo
        </div>-->

        <div class="panel-body">
            <div class="col-lg-10">
                <label for="nombreEquipo"> Nuevo Equipo </label>
                <div class="input-group">
                    <input name="nombreEquipo"  id="nombreEquipo" type="text" class="form-control add-team" placeholder="Nombre de Equipo ..."  />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" id="addTeam">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar
                    </button>
                </span>
                </div>
                <div class="error-msg alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>

                    Enter a valid email address
                </div>
            </div>
        </div>
    </div>



