<div class="col-md-8 fullwidth center">
	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="confirm" aria-labelledby="mySmallModalLabel" data-url="{{ app.path('message_confirm', {}, true) }}">
	<div class="modal-dialog modal-sm">
	<div class="modal-content">
	  ...
	</div>
	</div>
	</div>

</div>