{% extends 'common/forms.html.twig' %}


{% block form_title %}
    Nuevo Proyecto
{% endblock form_title %}

{% block form %}
    <form id="agregar_proyecto" name="agregar_proyecto" method="POST">
        <div class="form-group">
                <td width="108" nowrap="nowrap">Nombre del Proyecto</td>
                <td width="649"><input name="nombreProyecto" type="text" id="nombreProyecto" size="100"
                                       maxlength="255"/></td>
        </div>
        <div class="form-group">
                <td align="right" valign="top" nowrap="nowrap">Objetivo</td>
                <td><textarea name="objProyecto" id="objProyecto" cols="100" rows="5"></textarea></td>
        </div>
        <div class="form-group">
                <td nowrap="nowrap">Inicio Proyecto</td>
                <td><input name="inicioProyecto" type="text" id="inicioProyecto" value="calendario" size="15"/></td>
        </div>
        <div class="form-group">
                <td>Fin Proyecto</td>
                <td><input name="finProyecto" type="text" id="finProyecto" value="calendario" size="15"/></td>
        </div>
        <div class="form-group">
                <td>Es Productivo ?</td>
                <td><input type="checkbox" name="proyectoproductivo" id="proyectoproductivo"/>
                </td>
        </div>
        <div class="form-group">
                <td>Lider del Proyecto</td>
                <td><select name="nombreCompleto">
                        <option value="0">Ninguno</option>
                    </select>... read nombreCompleto ...
                </td>
        </div>

        <div class="btn-group right" role="group" aria-label="formActions">
            <button type="button" class="btn btn-danger" rol="backButton">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

{% endblock form %}
