{% extends 'common/base.html.twig' %}

{% block body %}

Agregar Proyecto<br />
<form id="agregar_proyecto" name="agregar_proyecto" method="post" action="">
<table width="765" height="48" border="2" cellpadding="0" cellspacing="0">
  <tr>
    <td width="108" nowrap="nowrap">Nombre del Proyecto</td>
    <td width="649"><input name="nombreProyecto" type="text" id="nombreProyecto" size="100" maxlength="255" /></td>
  </tr>
  <tr>
    <td align="right" valign="top" nowrap="nowrap">Objetivo</td>
    <td><textarea name="objProyecto" id="objProyecto" cols="100" rows="5"></textarea></td>
  </tr>
  <tr>
    <td nowrap="nowrap">Inicio Proyecto</td>
    <td><input name="inicioProyecto" type="text" id="inicioProyecto" value="calendario" size="15" /></td>
  </tr>
  <tr>
    <td>Fin Proyecto</td>
    <td><input name="finProyecto" type="text" id="finProyecto" value="calendario" size="15" /></td>
  </tr>
  <tr>
    <td>Es Productivo ?</td>
    <td><input type="checkbox" name="proyectoproductivo" id="proyectoproductivo" />
      </td>
  </tr>
  <tr>
    <td>Lider del Proyecto</td>
    <td><select name="nombreCompleto">
        <option value="0">Ninguno</option>
      </select>... read nombreCompleto ...</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><p>
      <br />
      <input type="submit" name="botonagregarProyecto" id="botonagregarProyecto" value="Agregar Proyecto " />
      </p></td>
  </tr>
</table>
</form>


{% endblock body %}