{% extends 'common/forms.html.twig' %}


{% block form_title %}
    Editar Proyecto
{% endblock form_title %}

{% block form %}
  <form id="agregar_proyecto" name="editar_rol" method="post" action="">
    {{ include ('proyectos/steps/datos-basicos.html')  }}

      <br/>
      <div class="btn-group right" role="group" aria-label="formActions">
          <button type="button" class="btn btn-danger" rol="backButton">Cancelar</button>
          <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
  </form>

{% endblock form %}