{% extends 'common/forms.html.twig' %}


{% block form_title %}
    Editar Equipos
{% endblock form_title %}

{% block form %}
    <div id="team-edition">
    {{ include ('proyectos/steps/equipos.html')  }}
    </div>
{% endblock form %}