{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    ABM Proyectos
    <a class="btn btn-primary right" href="{{ app.path('new_project') }}" role="button">Nuevo</a>
  </div>

  <!-- Table -->
  <table class="table"
         data-toggle="table"
         data-search="true"
         data-height="500"
         data-pagination="true">
    <thead>
      <tr>
        <th data-sortable="true">Nombre Proyecto</th>
        <th data-sortable="true">Lider del Proyecto</th>
        <th class="col-md-2" data-sortable="true">Proyectos Productivos</th>
        <th class="col-md-2">Acciones</th>
      </tr>
    </thead>
    <tbody>
    {% if proyectos is not empty %}
      {% for proyecto in proyectos %}
        <tr>
          <td>{{ proyecto.nomProyecto }}</td>
          <td>{{ proyecto.lider.nombreCompleto }}</td>
          <td>{% if proyecto.productivoProyecto %}
              SI
              {%  else %}
               NO
              {%  endif %}
          </td>
          <td>
            <div class="btn-group btn-group-sm right" role="group">
              <button type="button"
                      class="btn btn-sm btn-info  dropdown-toggle"
                      data-toggle="dropdown">Editar
                <i class='glyphicon glyphicon-cog'></i>
              </button>
              <ul class="dropdown-menu">
                <li ><a href="/proyectos/editar/{{ proyecto.idProyecto }}"><i class='glyphicon glyphicon-wrench'></i> Datos B&aacute;sicos</a></li>
                <li><a href="#"><i class='glyphicon glyphicon-user'></i> Equipos</a></li>
                <li><a href="#"><i class='glyphicon glyphicon-list-alt'></i> Tipos de Item </a></li>
                <li><a href="#"><i class='glyphicon glyphicon-random'></i> Workflows</a></li>
              </ul>
              <button type="button"
                      class="btn btn-sm btn-danger"
                      role-button="eliminar">Eliminar
                <i class='glyphicon glyphicon-trash'></i>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="4" class="alert alert-info text-center">
          <strong>Ups!</strong>
          No existen registros
        </td>
      </tr>
    {% endif %}
    </tbody>
  </table>
</div>

{% endblock body %}