{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">ABM Proyectos</div>

  <!-- Table -->
  <table class="table">
    <tr>
      <td class="">Nombre Proyecto</td>
      <td class="">Lider del Proyecto</td>
      <td class="">Proyectos Productivo</td>
      <td class="col-md-2">Acciones</td>
    </tr>
    <tr>
      <td nowrap="nowrap"><?php $nombreProyecto; ?></td>
      <td nowrap="nowrap"><?php $nombreCompleto; ?>... read idLider ......</td>
      <td nowrap="nowrap"><?php $productivoProyecto; ?></td>
      <td nowrap="nowrap">
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn btn-default">Detalles</button>
          <button type="button" class="btn btn-default">Editar</button>
          <button type="button" class="btn btn-default">Eliminar</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>

{% endblock body %}