{% extends 'common/base.html.twig' %}

{% block body %}

ABM de Proyectos<br />
<form id="abm_proyecto" name="abm_proyecto" method="post" action="">
<table width="788" height="75" border="1" cellpadding="0" cellspacing="0">
  <tr>
    <td>Nombre Proyecto</td>
    <td>Lider del Proyecto</td>
    <td>Proyectos Productivo</td>
    <td>Acciones</td>
  </tr>
  <tr>
    <td nowrap="nowrap"><?php $nombreProyecto; ?></td>
    <td nowrap="nowrap"><?php $nombreCompleto; ?>... read idLider ......</td>
    <td nowrap="nowrap"><?php $productivoProyecto; ?></td>
    <td nowrap="nowrap">...ver detalles...  ...edit... ...delete....</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</form>

{% endblock body %}