{% extends 'common/forms.html.twig' %}


{% block form_title %}
  Nuevo Rol
{% endblock form_title %}

{% block form %}
  <form id="agregar_rol" name="agregar_rol" method="post" action="./">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input name="nombre" type="text" id="nombre" class="form-control" placeholder="Nombre" required />
    </div>
    <div class="form-group">
      <label for="nombre">Descripción</label>
      <input name="descripcion" type="text" id="descripcion" class="form-control" placeholder="Descripción" />
    </div>

    <div class="btn-group right" role="group" aria-label="formActions">
      <button type="button" class="btn btn-danger" rol="backButton">Cancelar</button>
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </form>
{% endblock form %}
