{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    ABM Roles
    <a class="btn btn-primary right" href="{{ app.path('new_rol') }}" role="button">Nuevo</a>
  </div>

  <!-- Table -->
  <table class="table">
    <tr>
      <td class="">Nombre Rol</td>
      <td class="">Descripción</td>
      <td class="col-md-2">Acciones</td>
    </tr>
    {% if roles is not empty %}
      {% for rol  in roles %}
      <tr>
        <td nowrap="nowrap">{{ rol.nombreRol}}</td>
        <td nowrap="nowrap">{{ rol.descripcion}}</td>
        <td nowrap="nowrap">
          {# <div class="btn-group btn-group-xs" role="group"> #}
            <button type="button" class="btn btn-sm btn-info">Detalles</button>
            <button type="button" class="btn btn-sm btn-info">Editar</button>
            <button type="button" class="btn btn-sm btn-danger">Eliminar</button>
          {# </div> #}
        </td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="3" class="alert alert-info text-center">
          <strong>Ups!</strong>
          No existen registros
        </td>
      </tr>
    {% endif %}
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</div>


{% endblock body %}