{% include 'common/base/header.html.twig' %}

{% block custom_javascript %}
{% endblock %}

<body>
	<div class="container">
		{% include 'common/base/head.html.twig' %}
		{% include 'common/base/navbar.html.twig' %}
		{% block body %}
		{% endblock body %}
		{% include 'common/modal/confirm.html.twig' %}
	</div>

    <div class="container">
        <footer class="footer">
            <div class="container">
                <p class="text-muted">Magister en Ingeniería del Software - Universidad Nacional de La Plata.</p>
            </div>
        </footer>
    </div>

    <div id="ajax-loader">
        <div class="ajax-background"></div>
        <i class="glyphicon glyphicon-cloud"></i>
        <h3>Working</h3>
        <img src="/web/images/preloader_3.gif" />
    </div>
</body>



