{% include 'common/base/header.html.twig' %}

<body>
	<div class="container">
		{% include 'common/base/head.html.twig' %}
		{% include 'common/base/navbar.html.twig' %}
		{% block body %}
		{% endblock body %}
	</div>
</body>

<script type="text/javascript" src="/web/js/jquery.js"></script>
<script type="text/javascript" src="/web/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/web/js/jquery.validate.js"></script>
<script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="/web/js/application.js"></script>
