{% include 'common/base/header.html.twig' %}

<body>
<div class="container">
	
	{% include 'common/base/head.html.twig' %}

	{% include 'common/base/navbar.html.twig' %}
	
	{# <div class="col-md-12 jumbotron"> #}
		{% block body %}
		{% endblock body %}
	{# </div> #}

</div>
</body>

<script type="text/javascript" src="web/js/jquery.js"></script>
<script type="text/javascript" src="web/js/bootstrap.min.js"></script>
<script type="text/javascript" src="web/js/validate.min.js"></script>