{% include 'common/base/header.html.twig' %}

{% block custom_javascript %}
{% endblock %}

<body>
	<div class="container">
		{% include 'common/base/head.html.twig' %}
		{% include 'common/base/navbar.html.twig' %}
		{% block body %}
		{% endblock body %}
		{% include 'common/modal/confirm.html.twig' %}
	</div>
</body>



