{% include 'common/base/header.html.twig' %}

<body>

	<script type="text/javascript" src="/web/js/jquery.js"></script>
	<script type="text/javascript" src="/web/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/web/js/jquery.validate.min.js"></script>
	<script type="text/javascript" src="/web/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/web/js/bootstrap-datepicker.es.js"></script>
	<script type="text/javascript" src="/web/js/jquery.bootstrap.wizard.min.js"></script>
	<script type="text/javascript" src="/web/js/jquery.typeahead.min.js"></script>
	<script type="text/javascript" src="/web/js/bootstrap-switch.min.js"></script>
	<script type="text/javascript" src="/web/js/bootstrap-table.min.js"></script>
	<script type="text/javascript" src="/web/js/bootstrap-table-es-AR.min.js"></script>
	<script type="text/javascript" src="/web/js/application.js"></script>

	<div class="container">
		{% include 'common/base/head.html.twig' %}
		{% include 'common/base/navbar.html.twig' %}
		{% block body %}
		{% endblock body %}
		{% include 'common/modal/confirm.html.twig' %}
	</div>
</body>



