{% extends 'common/base.html.twig' %}

{% block body %}

<div class="forms panel panel-primary col-md-8 fullwidth center">
	<div class="panel-heading">
		{% block form_title %}{% endblock form_title %}
	</div>
  	<div class="panel-body">
    	{% block form %}
		{% endblock form %}
  	</div>
</div>

{% endblock body %}