<!doctype html>
<html lang="en">
	<head>
		<title>Master Ticket UNLP</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		{% block styles %}
		<link rel="stylesheet" href="/web/css/bootstrap.min.css" type="text/css" />
		<link rel="stylesheet" href="/web/css/application.css" type="text/css" />
		{% endblock %}
	</head>