<div class="page-header col-md-12">
	<img src="/web/images/unlp.jpg" class="logotipo" />
		
	<h1><small></small></h1>

	<div class="profile" id="profilePanel">
		<div class="image_profile">
			<img src="{{ app.user.selfie }}"
			/>
			<i class="glyphicon glyphicon-user"></i>
	</div>
	<div class="actionbuttons">
		<h6>
			<a href="{{ app.path('profile', {'id': app.user.id}) }}"  title="Perfil">{{ app.user.usuario }}</a>
		</h6>
		<a class="glyphicon glyphicon-off" href="{{ app.path('logout') }}">Logout</a>
	</div>
	</div>
</div>