<div class="page-header col-md-12">
	<img src="{{ 'web/images/unlp.jpg' }}" class="logotipo" />
		
	<h1><small></small></h1>

	<div class="profile" id="profilePanel">
		<div class="image_profile">
			<img src="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/12417619_10153355266454103_4237973287739828278_n.jpg?oh=4c367141678cfe52bdb704e1fff55adc&oe=57431064"
			/>
	</div>
	<div class="actionbuttons">
		<h6>
			<a href="">Mr Poronga</a>
		</h6>
		<a class="glyphicon glyphicon-off">Logout</a>				
	</div>
	</div>
</div>