<!doctype html>
<html>
	<head>
		<title>Master Ticket UNLP</title>

		{% block styles %}
		<link rel="stylesheet" href="{{ 'vendor/twbs/bootstrap/dist/css/bootstrap.min.css' }}" type="text/css" />
		{% endblock %}
	</head>