<!doctype html>
<html lang="en">
	<head>
		<title>Master Ticket UNLP</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		{% block styles %}
			<link rel="stylesheet" href="/web/css/bootstrap.min.css" type="text/css" />
			<link rel="stylesheet" href="/web/css/jasny-bootstrap.min.css" type="text/css"/>
			<link rel="stylesheet" href="/web/css/datepicker.css" type="text/css"/>
			<link rel="stylesheet" href="/web/css/bootstrap-switch.min.css" type="text/css"/>
			<link rel="stylesheet" href="/web/css/bootstrap.min.css" type="text/css"/>
			<link rel="stylesheet" href="/web/css/jquery.typeahead.min.css" type="text/css"/>
			<link rel="stylesheet" href="/web/css/bootstrap-table.min.css" type="text/css"/>
			<link rel="stylesheet" href="/web/css/application.css" type="text/css" />
		{% endblock %}

		<script type="text/javascript" src="/web/js/jquery.js"></script>
		<script type="text/javascript" src="/web/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/web/js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/web/js/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/web/js/bootstrap-datepicker.es.js"></script>
		<script type="text/javascript" src="/web/js/jquery.bootstrap.wizard.min.js"></script>
		<script type="text/javascript" src="/web/js/jquery.typeahead.min.js"></script>
		<script type="text/javascript" src="/web/js/bootstrap-switch.min.js"></script>
		<script type="text/javascript" src="/web/js/bootstrap-table.min.js"></script>
		<script type="text/javascript" src="/web/js/bootstrap-table-es-AR.min.js"></script>
		<script type="text/javascript" src="/web/js/fileinput.js"></script>
		<script type="text/javascript" src="/web/js/jsPlumb-2.0.7-min.js"></script>
		<script type="text/javascript" src="/web/js/loader.js"></script>
		<script type="text/javascript" src="/web/js/application.js"></script>

		{% block custom_javascript %}
		

		{% endblock %}
	</head>