{% extends 'common/base.html.twig' %}

{% block body %}

Agregar Usuario  <br />
<form id="agregar_usuario" name="agregar_usuario" method="post" action="">
  <table width="765" height="48" border="2" cellpadding="0" cellspacing="0">
    <tr>
      <td width="108" nowrap="nowrap">Nombre y Apellido</td>
      <td width="649"><input name="nombreCompleto" type="text" id="nombreCompleto" size="100" maxlength="255" /></td>
    </tr>
    <tr>
      <td nowrap="nowrap">Tipo de Documento</td>
      <td><select name="tipoDocumento">
        <option value="0">Ninguno</option>
      </select></td>
    </tr>
    <tr>
      <td nowrap="nowrap">Nro. de Documento</td>
      <td><input name="numDocumento" type="text" id="numDocumento" size="100" maxlength="255" /></td>
    </tr>
    <tr>
      <td>email</td>
      <td><input name="email" type="text" id="email" size="100" maxlength="255" /></td>
    </tr>
    <tr>
      <td>Usuario</td>
      <td><input name="usuario" type="text" id="usuario" size="100" maxlength="255" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input name="password" type="text" id="password" size="100" maxlength="255" /></td>
    </tr>
    <tr>
      <td>Confirmar Password</td>
      <td><input name="confirm_password" type="text" id="confirm_password" size="100" maxlength="255" /></td>
    </tr>
    <tr>
      <td>Rol Asignado</td>
      <td><select name="nombreRol">
        <option value="0">Ninguno</option>
      </select></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><p> <br />
        <input type="submit" name="botonagregarUsuario" id="botonagregarUsuario" value="Agregar Usuario" />
      </p></td>
    </tr>
  </table>
</form>

{% endblock body %}