{% extends 'common/base.html.twig' %}

{% block body %}

Editar Usuario<br />
<form id="editar_usuario" name="editar_usuario" method="post" action="">
  <table width="765" height="48" border="2" cellpadding="0" cellspacing="0">
    <tr>
      <td width="108" nowrap="nowrap">Nombre y Apellido</td>
      <td width="649"><input name="usuario_nombreCompleto" type="text" id="usuario_nombreCompleto" size="100" maxlength="255" value="<?php $nombreCompleto; ?>"/></td>
    </tr>
    <tr>
      <td nowrap="nowrap">Tipo de Documento</td>
      <td><input name="usuario_nombreDocumento" type="text" id="usuario_nombreDocumento" size="100" maxlength="255" value="<?php $nombreDocumento; ?>"/></td>
    </tr>
    <tr>
      <td nowrap="nowrap">Nro. de Documento</td>
      <td><input name="usuario_numDocumento" type="text" id="usuario_numDocumento" size="100" maxlength="255" value="<?php $numDocumento; ?>"/></td>
    </tr>
    <tr>
      <td>email</td>
      <td><input name="usuario_email" type="text" id="usuario_email" size="100" maxlength="255" value="<?php $email; ?>"/></td>
    </tr>
    <tr>
      <td>Usuario</td>
      <td><input name="usuario_usuario" type="text" id="usuario_usuario" size="100" maxlength="255" value="<?php $usuario; ?>"/></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input name="usuario_password" type="text" id="usuario_password" size="100" maxlength="255" value="<?php $password; ?>"/></td>
    </tr>
    <tr>
      <td>Rol Asignado</td>
      <td><input name="rol_nombreRol" type="text" id="rol_nombreRol" size="100" maxlength="255" value="<?php $rol_nombreRol; ?>"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><p> <br />
        <input type="submit" name="botonupdateUsuario" id="botonupdateUsuario" value="Update Usuario" />
      </p></td>
    </tr>
  </table>
</form>


{% endblock body %}