{% extends 'common/base.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    ABM TipoItems
  </div>

  <!-- Table -->
  <table class="table">
      <thead>
        <tr>
          <td class="col-md-6 text-center">Tipo Item</td>
          <td class="col-md-6 text-center">Proyecto</td>
          <td class="col-md-2 text-center">Estados</td>
        </tr>
      </thead>

      {% if tipoitems is not empty %}
          {% for tipoitem  in tipoitems %}
              <tr>
                  <td  nowrap="nowrap">{{ tipoitem.descripcion}}</td>
                  <td  nowrap="nowrap">{{ tipoitem.proyecto.nomProyecto }}</td>
                  <td class="text-left" nowrap="nowrap">
                      <ul>
                          {% for estado in tipoitem.estados %}
                          <li>{{ estado.nombreEstado }}</li>
                          {% endfor %}
                      </ul>
                  </td>
              </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td colspan="3" class="alert alert-info text-center">
                  <strong>Ups!</strong>
                  No existen registros
              </td>
          </tr>
      {% endif %}

  </table>
</div>

{% endblock body %}