<nav>
    <ul class="pager">
        <li class="previous button-previous"><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-hand-left"></span> Tipos Item</a></li>
    </ul>
</nav>
<div class="row">
    <h4 class="col-md-8 col-md-offset-5 title" >
        SARASASA
    </h4>
</div>
<div class="workflow" id="canvas" >
</div>
<nav>
    <ul class="pager">
        <li class="button-save-workflow"><a href="#">Guardar <span aria-hidden="true" class="glyphicon glyphicon-floppy-saved"></span></a></li>
    </ul>
</nav>